<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headlines</title>
</head>
<body>
<h1> Headlines</h1>
<h2> Current weather</h2>
<form method="GET">
  <input type="text" name="city" placeholder="search" />
  <input type="submit" value="Submit" />
</form>
<p>City: <b>{{weather.city}} , {{weather.country}}</b></p>
  <p>{{weather.description}} |{{weather.temperature}}℃</p>

<h2> Currency exchange</h2>

<form method="GET">
    from: <select name="curr_from">
            {% for currency in currencies %}
            <option value={{currency}} {{'selected="selected"' if curr_from==currency}}>{{currency}}</option>
            {% endfor %}
          </select>

     to: <select name="curr_to">
           {% for currency in currencies %}
            <option value={{currency}} {{'selected="selected"' if curr_to==currency}}>{{currency}}</option>
            {% endfor %}
         </select>
         <input type="submit" value="Submit">
</form>
<p>1 {{curr_from}} = {{curr_to}} {{rate}}</p>
  <h2>Headlines</h2>

<div>
    <div>
        <form method="GET">
  <input type="text" name="publication" placeholder="search" />
  <input type="submit" value="Submit" />
</form>
    </div>
{% for article in all_article %}


    <div>

        <h3><p> <a href="{{article.link}}"> {{article.title}}</a></p></h3><br/>
         <p> {{article.published}}</p>
        <p> {{article.summary}}</p><hr/>
    </div>

    {% endfor%}
</div>

</body>
</html>